@media (max-width: 768px) {
  .card_1 {
    width: 250px;
    margin: 0 10px;
  }

  .card_1 img {
    width: 250px;
  }
}

@media (max-width: 550px) {
  .card_1 {
    width: 200px;
    margin: 0 10px;
  }

  .card_1 img {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .header .container h1 {
    font-size: 28px;
  }

  .header .container h2 {
    font-size: 20px;
  }

  #drop_menu input {
    width: 150px;
  }

  .dropMenuStyle {
    width: 150px;
  }
}

@media (max-width: 425px) {
  .header .container h1 {
    font-size: 24px;
  }

  .header .container h2 {
    font-size: 16px;
  }

  #drop_menu input {
    width: 150px;
  }

  #drop_menu input {
    width: 125px;
  }

  .dropMenuStyle {
    width: 125px;
  }

  .heroCountry .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flexBio {
    display: flex;
  }

  .card_1 {
    width: 250px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
  }

  .card_1 img {
    width: 250px;
  }

  .cardBio {
    width: 100%;
  }

  .cardBio h2 {
    font-size: 20px;
  }

  .cardBio h4 {
    font-size: 14px;
  }

  .cardBio p {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .header .container h1 {
    font-size: 24px;
  }

  .header .container h2 {
    font-size: 16px;
  }

  #drop_menu input {
    width: 100px;
    font-size: 10px;
  }

  .dropMenuStyle {
    width: 100px;
  }

  input {
    font-size: 12px;
  }
}
